<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riseapps.xmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/stat_sys_headset" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryFontDark" />
        <activity
            android:name=".view.Activity.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activity.Walkthrough"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".model.MusicService"
            android:enabled="true" />

        <activity
            android:name=".view.Activity.SelectPlaylistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Activity.AppSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Activity.Splash2Activity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"></activity>
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>